@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Kanit:ital,wght@1,300&family=Nova+Square&family=Open+Sans&family=Poppins&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.container{
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px 30px;
}

.container .title{
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    height: 3px;
    width: 23px;
    background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.container form .user-details{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 12px 0px ;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100 / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 16px;
    padding-left: 16px;
    border-bottom-width: 2px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #72afd3;
}

form .button{
    height : 45px;
}

form .button input{
    height: 100%;
    width: 100%;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    color: #fff;
    border-radius: 5px;
}

form .button input:hover{
    background: linear-gradient(-135deg, #37ecba 0%, #72afd3 100%);
}