@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Kanit:ital,wght@1,300&family=Nova+Square&family=Open+Sans&family=Poppins&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #89CFF0;
}

.container{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
    /* border: 5px solid #3da0ce; */
    box-shadow: 10px 10px 7px #328ebc;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    /*background: linear-gradient(to top, #37ecba 0%, #72afd3 100%);*/
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box .error-details{
    display: flex;
    background-color: rgb(121, 185, 201);
    position: relative;
    /* top: -95px; */
    left: 120px;
    border-radius: 0px 10px 10px 10px;
    font-size: 10px;
}
.error-details{
    width: 180px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    /* border-radius: 5px; */
    border: none;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 2px solid black;
    background-color: rgba(232, 230, 230, 0.413);
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #72afd3;
}

.error-details {
    border: 1px solid rgb(255, 255, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 14px 0;
}

.gender-details .category label{
    display: flex;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 9px;
    border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #72afd3;
}

form input[type=radio]{
    display: none;
}

form .button{
    height: 45px;
    margin: 20px 0px;  
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: #77c3ec;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
}


form .button input:hover{
    background: linear-gradient( #77c3ec 0%, rgb(121, 185, 201) 100%);
}

@media (max-width : 584px) {
    .container{
        max-width: 100%;
    }

    form .user-details .input-box{
        width: 100%;
    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
